input{
    background-color:#1F2632 ;
    color: white;
    font-size: 21px;
    border: #1F2632;
    border-radius: 6px;
    border-width: 2px;
}
a {
    color: #0068DA;
}
#launch{
    display: none;
}
button{
    border-style: none;
    background: none;
}
hr{
    border: 1px solid #474747;
}
body{
    background-color: #1A202C;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    overflow-x: hidden;
}
p{
    font-size: 21px;
    background-color: #1A202C;
}

h1{
    font-size: 50px;
    font-weight: 800;
}
ion-icon {
    font-size: 26px;
    font-weight: bold;
  }
.icons {
      color:black;
  }
.subtitle{
    font-weight: 400;
    margin-top: -28px;
    font-size: 30px;
    color: chartreuse;
}
.subtitle-box{
    color: chartreuse;
}
.footer {
    font-size: 15px;
    color: #474747;
    text-decoration: none;
    text-align: center;
}
.footer a{
    color: #474747;
}
.footer ion-icon {
    font-size: 20px;
}
.box{
    background-color: #1F2632;
    color: white;
    border-color: #1F2632;
    text-align: left;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 3%;
    padding-top: -5%;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    width: 90%;
    margin-right: 4px;
    margin-bottom: 20px;
    transition: transform .2s;
}
.box:hover{
    transform: scale(1.03);
}
.box a, p {
    text-decoration: none;
    font-size: 20px;
}
#more{
    background-color:white ;
}
#more:hover{
    transform:none ;
}

.smallBox{
    text-align: left;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    margin-right: 4px;
    margin-bottom: 20px;
    border-color: transparent;
}
.smallBox a{
    text-decoration: none;
    font-size: 16px;
}
.smallBox p{
    text-decoration: none;
    font-size: 16px;
}

#boxes {
    background-color: #1F2632;
    text-decoration: none;
    color: white;
    margin-top: -5px;
}

img, video {
    height:50%;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #apod {
    width: 50%;
    height: auto;
    display:block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 600px) {
    p{
        font-size: 19px;
    }
    input{
        font-size: 17px;
    }
    h1{
        font-size: 31px;
    }
    .subtitle{
        font-size: 25px;
        margin-top: -26px;
    }
    img{
        max-width: 100%;
        height:auto;
        margin-right:auto;
        margin-left:auto;
        display:block;
      }
    .box {
        border-radius: 16px;
        padding-bottom: 10%;
        width: 90%;
    }
    #apod{
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 350px) {
    p{
        font-size: 17px;
    }
    input{
        font-size: 15px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    .subtitle{
        font-size: 18px;
        margin-top: -19px;
    }
    .launch{
        font-size: 12px;
    }
    #apod{
        margin-left: auto;
        margin-right: auto;
    }
}
body.tesla{
    background-color: black;
    color: white;
}
body.tesla p{
    background-color: black;
}
body.tesla .subtitle{
    color: #cc0000;
}
body.tesla .subtitle-box{
    color: #cc0000;
}
body.tesla .box{
    background-color: #1C1C1E;
    border-color: #1C1C1E;
}
body.tesla #boxes {
    background-color: #1C1C1E;
}