{% extends "base.html" %}
{% block content %}
<head>
    <title>NASA Photo of the Day</title>
</head>
<div id="page">
<div style="text-align: left;">
    <a style="text-align: left; font-size: 15px; color: #AAAAAA; text-decoration: none; float: left;" href="/" >Back</a>
    <br>
    <h1 style="text-align: center;">NASA's photo of the day</h1>
    <h2 class="subtitle" style="text-align: center;">{{ apod[4] }}</h2>
    <p><br></p>
</div>
{% if apod != False %}
<img src="{{ apod[1] }}" alt="" id="apod">
<p style="color: #AAAAAA;">{{ apod[2] }}</p>
{% else %}
<h2 class="subtitle">Space Control Pro can't connect to the NASA API's server. Try again later please</h2>
{% endif %}
<br><br>
{% endblock %}