<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Space Control Pro</title>
</head>
<header>
    <h1>Space Control Pro</h1>
    <h2 class="subtitle">Upcoming Launches</h2>
    <p><br></p>
</header>
<body>

<div style="text-align: left; margin-bottom: 430px;">
    {% for launch in data %}
    {% if launch[0] == 1 %}
    <div class="box" style="text-decoration: none; float: left;">
    {% elif launch[0] == 2 %}
    <div class="box" style="text-decoration: none; float: right;">
    {% elif launch[0] == 3 %}
    <div class="box" style="text-decoration: none; float: left;">
    {% elif launch[0] == 4 %}
    <div class="box" style="text-decoration: none; float: right;">
    {% elif launch[0] == 5 %}
    <div class="box" style="text-decoration: none; float: left;">
    {% elif launch[0] == 6 %}
    <div class="box" style="text-decoration: none; float: right;">
    {% endif %}
        <a href="{{ launch[0]}}" style="text-decoration: none;">
            <h4 style="font-size: 25px; color: aliceblue;">{{launch[1]}}</h4>
            <p id="boxes" style="margin-top: -22px;">{{launch[4]}}</p>
            <p id="boxes" style="color: gray; font-weight: bold; font-size: 14px;">{{launch[2]}}</p>
        </a>
    </div>
    {% endfor %}
</div>
</div>

<p class="footer">© 2020 Space Control Pro <br>
    Developed and Designed by <a href="https://alombi.xyz">alombi</a>. Thanks for using</p>
</body>
</html>