{% extends "base.html" %}
{% block content %}

<head>
    <title>More</title>
</head>
<header style="text-align: left;">
    <a style="text-align: left; font-size: 15px; color: #AAAAAA; text-decoration: none; float: left;" href="/" >Back</a>
    <br>
    <h1>More</h1>
    <h2 class="subtitle">Get more from Space Control Pro</h2>
    <p><br></p>
</header>


<div class="box" style="text-decoration: none;">
    <a href="static/script.js" style="text-decoration: none;" download>
        <h4 style="font-size: 25px;" class="subtitle-box">iOS 14 Widget</h4>
        <p id="boxes" style="margin-top: -22px;">Quickly check the next space launch right from your home screen.</p>
        <p id="boxes" style="color: gray; font-weight: bold; font-size: 14px;">Version 1.1 - Powered by Scriptable</p>
    </a>
</div>

<p><br><br><br></p>

{% endblock %}