<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Space Control Pro" />
<meta property="og:description" content="A powerful web app for tracking space launches"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="static/assets/icon.png"/>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Upcoming Launches</title>
</head>
<div class="tesla || classic" style="padding-top: 10px;">
    <button style="float: right"class="btn-toggle"><ion-icon id="button" name="contrast-outline" style="color: white; font-size: 21px;"></ion-icon></button>

<header style="text-align: left;">
    <a style="text-align: left; font-size: 15px; color: #AAAAAA; text-decoration: none; float: left;" href="/" >Back</a>
    <br>
    <h1>Upcoming Launches</h1>
    <h2 class="subtitle">Space Control Pro</h2>
    <p><br></p>
</header>
<body>

<div style="text-align: left; margin-bottom: 100px;">
    {% for launch in data %}
    {% if launch[0] == 1 %}
    <div class="box" style="text-decoration: none;">
    {% elif launch[0] == 2 %}
    <div class="box" style="text-decoration: none;">
    {% elif launch[0] == 3 %}
    <div class="box" style="text-decoration: none;">
    {% elif launch[0] == 4 %}
    <div class="box" style="text-decoration: none;">
    {% elif launch[0] == 5 %}
    <div class="box" style="text-decoration: none;">
    {% elif launch[0] == 6 %}
    <div class="box" style="text-decoration: none;">
    {% endif %}
        <a href="{{ launch[0]}}" style="text-decoration: none;">
            <h4 style="font-size: 25px;" class="subtitle-box">{{launch[1]}}</h4>
            <p id="boxes" style="margin-top: -22px;">{{launch[4]}}</p>
            <p id="boxes" style="color: gray; font-weight: bold; font-size: 14px;">{{launch[2]}}</p>
        </a>
    </div>
    {% endfor %}
</div>
</div>

<p class="footer">© 2020 Space Control Pro <br>
    Developed and Designed by <a href="https://alombi.xyz">alombi</a>.</p>
    </div>
    <script>

        const btn = document.querySelector('.btn-toggle');
        
        const currentTheme = localStorage.getItem("theme");
        
        if (currentTheme == "tesla") {
          document.body.classList.add("tesla");
        }
        
        btn.addEventListener('click', function() {
          document.body.classList.toggle('tesla');
          var name = document.getElementById("button").name;
        
          if (name === 'contrast-outline'){
            document.getElementById("button").name = 'contrast'
            var name = 'contrast'
          } else {
            document.getElementById("button").name = 'contrast-outline'
            var name = 'contrast'
          }
          let theme = "classic";
          // If the body contains the .dark-theme class...
          if (document.body.classList.contains("tesla")) {
            // ...then let's make the theme dark
            theme = "tesla";
          }
          // Then save the choice in localStorage
          localStorage.setItem("theme", theme);
        })
          
          
        </script>
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>